.button-size {
  width: 18%;
  height: 40px;
  margin-top: 4px;
  text-size-adjust: auto;
  margin-bottom: 4px;
  margin-left: 3px;
}

.added-skill {
  display: inline;
  border-style: ridge;
  border-radius: 6px;
}

.form-size {
  width: auto;
}
