.left {
  margin-left: 10px;
}

.button-color {
  border-radius: 5px;
}

/* unvisited link */
a:link {
  color: white;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: white;
}

a:link {
  text-decoration: none;
}
